@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
    0 - 600px  => phone
    600 - 900px  => tablet portrait
    900 - 1200   => tablet landscape
    1200 - 1800  => normal styles apply
    1800 +      => big desktops
*/

/* @mixin respond-phone { // way to do it if not needed many times
    @media ( max-width: 600px ) { @content };  whatever content content will be applied to
} */

/* 
    breakpoints with arguments choices
    - phone
    - tab-port
    - tab-land
    - big-desktop
*/

/* 
    ORDER:
    Base + Typography > general layout + grid > page layout > components
*/

@mixin respond( $breakpoint ) {
    @if $breakpoint == phone {
        // the units are in relative size in case the user changed local font size
        @media ( max-width: 37.5em ) { @content }; // 600px
    }
    @if $breakpoint == tab-port {
        @media ( max-width: 56.25em ) { @content }; // 900px
    }
    @if $breakpoint == tab-land {
        @media ( max-width: 75em ) { @content }; // 1200px
    }
    @if $breakpoint == big-desktop {
        @media ( min-width: 112.5em ) { @content }; // 1800px
    }
}




