.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light;

    @include respond( tab-port) { 
        padding: 8rem 0;      
    }

    &__logo-box {
        text-align: center;
        margin-block: 8rem;

        @include respond( tab-port) { 
            margin-bottom: 6rem;     
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block; 

        @include respond( tab-port) { 
            width: 100%;
            text-align: center;      
        }
    }

    &__list {
        list-style: none;

    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            color: $color-grey-light;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary-light;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: scale(1.1)
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond( tab-port) { 
            width: 100%;
            float: none;     
        }
    }
}