.header {
    
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.7),
        rgba($color-primary-light, 0.6)), 
    url("../images/software-development.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

     
    // if supported apply this
    @supports ( clip-path: polygon(0 0) ) or (-webkit-clip-path: polygon(0 0) ){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        height: 95vh;
    }

     // media query based on resolution
     // second line/option is if safari devices
    @media ( min-resolution: 192dpi ) and ( min-width: 37.5em ),
            ( -webkit-min-device-pixel-ratio: 2 ) and ( min-width: 37.5em ) {
        background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.7),
        rgba($color-primary-light, 0.6)), 
        url("../images/whiteLambo-small.jpg"); // image has to be a small size
    }


     @include respond( phone ){
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-box {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    
}