.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 5rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        // change for the button element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    /* when is clicked */
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 1rem rgba(0, 0, 0, .2);
    }

    &--white,
    &:focus {
        outline: none;
        background-color: #fff;
        color: #777;

        &::after {
            background-color: #fff;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary-light;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    /* @after hover gives effect of fading out.
    @effect will be translated to these axis*/
    
    &--animation {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-dark;
        padding: 3px;
        transition: all .2s;
    }
    &:hover {
        background-color: $color-primary-light; 
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px)
    }
    &:active {
        box-shadow: 0 .5rem 1 rem rgba($color-black, .15);
        transform: translateY(0);
    }
}