.card {
    // functionality
    perspective: 150rem;
    //-moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    

    &__side {
        color: $color-white;
        font-size: 2rem;
        box-shadow: 0 0 16px rgb(218, 212, 212);
        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden; // to hide the picture's corners over flowing.
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            
            background-image: linear-gradient(
                to right bottom,
                $color-tertiary-light,
                $color-tertiary-dark
            );
        }
        // back of the cards
        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-primary-light,
                    $color-primary-dark
                ); 
            }

            &-2 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-secondary-light,
                    $color-secondary-dark
                ); 
            }

            &-3 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-tertiary-light,
                    $color-tertiary-dark
                ); 
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0);
    }

    //  FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        background-position: bottom;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);

        &--1 {
            background-image: linear-gradient(
                to right bottom,
                $color-primary-light,
                $color-primary-dark
            ),  url("../images/teacher.jpg") ;
        }
        &--2 {
            background-image: linear-gradient(
                to right bottom,
                $color-secondary-light,
                $color-secondary-dark
            ), url("../images/coaching.jpg");
        }
        &--3 {
            background-image: linear-gradient(
                to right bottom,
                $color-tertiary-light,
                $color-tertiary-dark
            ), url("../images/money.jpg");
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: -7.5rem;
        width: 75%;
    }

    // not nesting because is a separate element.
    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;

        // target MODIFIER --1
        &--1 {
            background-image: linear-gradient(to right bottom,
             rgba($color-primary-light, .85),
             rgba($color-primary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
             rgba($color-secondary-light, .85),
             rgba($color-secondary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
             rgba($color-tertiary-light, .85),
             rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;
        color: $color-white;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                // target all but last li to apply property
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }
//  INFO IN BACK OF CARDS
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }


    // Media query 
    // at tablet portrait will show back of card appended to what's front side 
    // only modified what is needed to show
    //@include respond( tab-port ){
    @media only screen and ( max-width: 56.25em),
        only screen and ( hover: none ) { // when device is touch screen

        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        
        &__side {
            height: auto;
            position: relative;
            box-shadow: none;
    
            // back of the cards
            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%)
            }
        }
    
        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 0 3rem;
        }
      
    //  INFO IN BACK OF CARDS
        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding:  7rem 4rem 4rem;
        }
    
        &__price-box {
            margin-bottom: 1rem;
        }
    
        &__price-value {
            font-size: 6rem;
        }
    }
}







