.form {

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        display: block;
        width: 90%;
        transition: all .3s;

        @include respond( tab-port) { 
            width: 100%;     
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary-light;
        }

        // if invalid field, apply prop
        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: .7rem;
        margin-left: 2rem;
        display: block;
        transition: all .3s;
    }
    // the + (selector) targets the sibling element
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden; // hide the text until on focus
        transform: translateY(-4rem) // make effect of going down
    }

    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond( tab-port) { 
            width: 100%;
            margin-bottom: 2rem;     
        }
    }

    &__radio-input {
        display: none
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary-light;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: -2.3rem;
        top: -.6rem;

        &::after {
            content: '';
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $color-primary-light;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    // once button checked, target the adjacent sibling element of the label element to get to the span
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}










