.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    // only works in safari
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px) ) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {
        @include absCenter;
        
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-white, .2);
        border-radius: 2px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform:  translate(-50%, -50%) scale(.5);
        transition: all .4s;

        @include respond( tab-port) { 
            width: 100%;
            top: 40%;
            left: 50%;     
        }

        @include respond( phone ) { 
            width: 100%;
            top: 40%;
            left: 50%;     
        }
    }

    &__left {
        width: 33.333333%;
        display: table-cell;

        @include respond( tab-port) { 
            width: 0;     
        }
    }

    &__right {
        width: 66.66667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;

       /*  @include respond( tab-port) { 
            width: 0 !important;     
        } */
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        
        -moz-webkit-hyphens: auto;
        hyphens: auto;
    }
//  open states
    &:target {
        opacity: 1;
        visibility: visible;

        @include respond( tab-port) { 
                 
        }
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1)
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
        }
        &:link {
            @include respond( tab-port) { 
                color: red;     
            }
        }

        &:hover {
            color: $color-primary-light;
        }
    }
}