.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .4);
    background-color: ($color-white, .3);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond( tab-port ) { 
        width: 100%;  
        padding: 4rem;
        padding-left: 7rem;   
    }

    @include respond( phone ) { 
        transform: skewX(0);     
    }

    & > * {
        transform: skewX(12deg);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        background-color: orangered;
        float: left;
        shape-outside: circle(50% at 50% 50%); // for this to work element has to be floated and set dimensions
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;

        @include respond( phone ) { 
            transform: translateX(-3rem) skewX(0)    
        }

    }

    &__img {
        height: 100%;
        width: 100%;
        transform: translateX(-2.7rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg); // skews text to look normal
    
        @include respond( phone ) { 
            transform: skewX(0)    
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden; // hide the bump at the end of transition
    }
    &:hover &__caption { // hover to show text from bottom to middle
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(0rem) scale(1); // center image and scales it 
        filter: blur(3px) brightness(80%)
    }

}