

html {
    // define what a 1rem is
    font-size: 62.5%; // 1rem = 10px;  10px/16px = 62.5%

    // tab-port is place after tab-land because the last prevails and is read first
    @include respond( tab-land ) { // width < 1200
        font-size: 56.25%;  // 1rem = 8px; 8/16 = 50%;
    }

    @include respond( tab-port) { // width < 900
        font-size: 50%;         // 1rem = 8px; 8/16 = 50%
    }

    @include respond( big-desktop ) {
        font-size: 75%;   // 1rem = 12; 12/16
    }
    
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond( tab-port) {
        padding: 0; // eliminates padding at about 900px         
    }
}


::selection {
    background-color: $color-primary-light;
    color: $color-white;
}






