
body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    margin-bottom: 6rem;
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        text-align: center;

        animation: moveInLeft 1s ease-out;

        @include respond( phone ){
            letter-spacing: 1rem;
            font-family: 5rem;
        }
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;

        animation: moveInRight 2s ease-out;

        @include respond( phone ){
            letter-spacing: .5rem;
        }
    }
}
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(
        to right,
        $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    @include respond( tab-port ){ // rules for responsive tablet portrait sizes
        font-size: 3rem;
    }

    @include respond( phone ){ // responsive phone sizes
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(5deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}
.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}