.section-about {
    background-color: $color-grey-light;
    padding: 25rem 0 40rem 0;
    margin-top: -20vh;

    @include respond( tab-port ) { 
        padding: 20rem 0;     
    }
}

.section-features {
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, .8),
        rgba($color-primary-dark, .8)
    ),
    url("../images/mentor.jpg");
    background-size: cover;
    background-position: center;
    transform: skewY(-7deg); // inclines the section container -7 degrees.
    margin-top: -8rem;

    // inclines items 7 degrees to look straight.
    // target all elements in .section-features.
    & > * {
        transform: skewY(7deg);
    }

    @include respond( tab-port) { 
        padding: 10rem 0;     
    }
}

.section-mentors {
    background-color: $color-grey-light;
    padding: 25rem 0 15rem 0;
    margin-top: -8rem;

    @include respond( tab-port) { 
        padding: 20rem 0 10rem 0;     
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;
   // background-color: $color-grey-light;
   @include respond( tab-port) { 
    padding: 10rem 0;     
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond( tab-port) { 
        padding: 10rem 0;     
    }
}

.book {
    background-image: linear-gradient(105deg, 
                                rgba($color-white, .9) 0%,
                                rgba($color-white, .9) 50%,
                                 transparent 50%),
                                  url(/images/mentor.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    //height: 50rem;

    // media query for the booking form
    // landscape tablet size
    @include respond( tab-land ) { 
        background-image: linear-gradient(105deg, 
                rgba($color-white, .9) 0%,
                rgba($color-white, .9) 65%,
                    transparent 65%),
                    url(/images/mentor.jpg);
                    background-size: cover;
    }

    @include respond( tab-port) { 
        background-image: linear-gradient(to right, 
                rgba($color-white, .9) 0%,
                rgba($color-white, .9) 100%),
                    url(/images/mentor.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        // landscape media query
        @include respond( tab-land) { 
            width: 65%;
        }

        @include respond( tab-port) { 
            width: 100%     
        }
        
    }
}
